@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&family=Taviraj:wght@200&display=swap');

* {
    font-family: 'Raleway', sans-serif;
    /* font-family: 'Taviraj', serif; */
}

body {
    background-color: rgb(160, 160, 160, 0.6);
}

.titulo {
    display: flex;
    justify-content: center;
}

.box {
    border: solid thin black;
    border-radius: 20px;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 10px 10px 14px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 14px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 14px 0px rgba(0, 0, 0, 0.75);
}

.box h2 {
    text-align: center;
}

.box .dificultad {
    text-align: end;
    border-bottom: solid thin black;
}

body a {
    padding: 5px 20px;
    margin-top: 20px;
    text-decoration: none;
    color: black;
}

table,
td {
    border-radius: 10px;
    margin: 25px auto;
    border: 1px solid black;
}

td, tr{
    width: 50%;
    text-align: center;
    padding: 15px 40px;
}